body {
  font-family: Arial;
  
}

/* logo */
        .skin-blue .main-header .logo {
                              background-color: #385A4F;
                              }

        /* logo when hovered */
        .skin-blue .main-header .logo:hover {
                              background-color: #385A4F;
                              }

        /* navbar (rest of the header) */
        .skin-blue .main-header .navbar {
                              background-color: #003865;
                              }        

        /* main sidebar */
        .skin-blue .main-sidebar {
                              background-color: #003865;
                              }

        /* active selected tab in the sidebarmenu */
        .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                              background-color: #7D2239;
                              }

        /* other links in the sidebarmenu */
        .skin-blue .main-sidebar .sidebar .sidebar-menu a{
                              background-color: #005C8A;
                              color: #FFFFFF;
                              }

        /* other links in the sidebarmenu when hovered */
         .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                              background-color: #7D2239;
                              color: #EEEEEE;
                              }
        /* toggle button when hovered  */                    
         .skin-blue .main-header .navbar .sidebar-toggle:hover{
                              background-color: #7D2239;
                              }